body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #2B3330;
    display: block;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    /* background-color: antiquewhite; */
    
}

body, input, textarea, button,p,h1,h2,h3,h4,h5,h6 {
    font-size: 14px;
    font-family: "Sharp Sans","Helvetica" ,sans-serif;
}

body, input[type='submit'], input[type='button'], button {
    -webkit-font-smoothing: antialiased;
    outline: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
    border: 0;
    font-size: 100%;
  
    vertical-align: baseline;

}

.relative {
    position: relative;
}

.min-vh-100 {
    min-height: 100vh;
}

@media screen and (min-width:27em) {
 body {font-size: 16px;}
}

.container {
  max-width: 1920px;
}
